<h3 class="text-center">Create a new goal</h3>
<%= form_for @goal, url: user_goals_path do |f| %>
  <% if @goal.errors.any? %>
    <div class="col-md-10 col-md-offset-1" id="errors">
      <h4><%= pluralize(@goal.errors.count, "error") %> prevented this goal from being saved:</h4>
      <ul>
        <% @goal.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group col-md-10 col-md-offset-1">
    <%=f.label :title %>
    <%=f.text_field :title, class: "form-control", placeholder: "e.g. Codewar Kata" %>
  </div>
  <div class="form-group col-md-10 col-md-offset-1">
    <%= f.label :description %>
    <%= f.text_area :description, class: "form-control", placeholder: "Describe your goal in more detail here.", rows: "3" %>
  </div>
  <div class="form-group col-md-10 col-md-offset-1">
    <%= f.label :frequency %>
    <div class="form-control-static">
      (1 for weekly; up to 7 for daily)
    </div>
    <%= f.number_field :frequency, class: "form-control", max: "7", min:"0" %>
  </div>
  <div class="form-group col-md-10 col-md-offset-1">
    <%= f.label :duration %>
    <%= f.number_field :duration, class: "form-control", min: "0", step: "5", value: "30" %>
  </div>
  <div class="col-md-10 col-md-offset-1">
    <%=f.submit class: "btn btn-primary" %>
  </div>  
<% end %>